[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
djangorestframework = "*"
django = "*"
coverage = "*"
gunicorn = "*"
python-decouple = "*"
django-heroku = "*"
drf-yasg = "*"
django-admin-honeypot = "*"
django-rest-auth = {extras = ["with_social"],version = "*"}
django-allauth = "*"
dj-database-url = "*"
django-filter = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"
